{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Annonces {% endblock %}

{% block body %}
<h1 class="text-center">Les annonces</h1>
    <hr>
    {% block advert_body %}

    {% endblock %}

{% endblock %}