{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Candidature {% endblock %}
{% block body %}
<h1 class="text-center">Candidature</h1>
    <hr>
    {% block application_body %}

    {% endblock %}

{% endblock %}